<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>cocos2d.tests</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>GameThumbnail.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.cocos2d.tests.cocos2d-tests</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>XSAppIconAssets</key>
	<string>Media.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Media.xcassets/LaunchImages.launchimage</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
</dict>
</plist>
